<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class='ion-text-center ion-text-capitalize'>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <figure>
    <ion-avatar class="center-avatar">
      <img src='../../assets/images/user.jpg' alt='logo' class='logo'>
    </ion-avatar>
  </figure>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="Enter text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Password" labelPlacement="floating" placeholder="Enter text" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-message">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div *ngIf="(loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty)">  {{ validation.message }}</div>
      </ng-container>
      <ng-container *ngFor="let validation of validation_messages.password">
        <div *ngIf="(loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty)">  {{ validation.message }}</div>
      </ng-container>
    </div>

    <ion-button color="tertiary" type="submit" expand="block" shape="round" [disabled]="!loginForm.valid">Login</ion-button>
  </form>

  <div class="validation-message">
    {{loginMessage}}
  </div>

  <div class="ion-text-center">
    ¿Aún no tienes una cuenta? <a routerLink="/register">Regístrate aquí</a>
  </div>
  
</ion-content>
